//variables
$bg-color: skyblue;
$border-color: #bfbfbf;
$btn-color: black;
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

body {
  background-color: $bg-color;
  font-size: 18px;
}

label{
  font-family: 'Source Sans Pro', sans-serif;
  
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
  @include border-radius(4px);
  background-color: #fff;
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
  box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
  .login-form {
    padding: 100px 40px;
    width: calc(100% - 710px);
    display: inline-block;
    float: left;
    position: relative;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.7em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 40px 0;
    }
    input {
      display: block;
      border: none;
      width: 100%;
      padding: 10px 0;
      border-bottom: solid 1px $border-color;
      font-family: 'Source Sans Pro', sans-serif;
      @include transition (all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1));
      color: #0e6252;
      margin-bottom: 45px;
      font-size: 1em;
      &:focus,
      &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
      }
      &:focus {
        border-color: $btn-color;
      }
      &::-webkit-input-placeholder {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:focus {
        &::-webkit-input-placeholder {
          color: $btn-color;
          font-size: 0.778em;
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
          visibility: visible;
        }
      }
    }
    .login-btn {
      background-color: $btn-color;
      border: 0;
      color: #fff;
      padding: 15px 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      cursor: pointer;
      text-transform: uppercase;
      @include border-radius(30px);
      &:hover {}
      &:focus {
        outline: none;
      }
    }
    .login-btn[disabled] {
      pointer-events: none;
      cursor: not-allowed;
      opacity: .65;
    }
    ul {
      margin: 0;
      padding: 0 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      li {
        list-style-type: none;
        display: inline-block;
        &:last-child {
          float: right;
        }
        a {
          text-decoration: none;
          color: $btn-color;
          font-family: 'Source Sans Pro', sans-serif;
        }
      }
    }
  }
  
  .error-text{
    margin:0;
    color: tomato;
    font-family: 'Montserrat', sans-serif;
    margin-top:-20px;
  }
}